<div class="flex flex-col">

    <span class="">
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}" class="rounded bg-transparent px-3 py-1.5 transition-all
      duration-300 hover:bg-neutral-100 hover:text-black">Previous</a>
    {% endif %}
    Page {{ page.number }}
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}" class="rounded bg-transparent px-3 py-1.5 transition-all
      duration-300 hover:bg-neutral-100 hover:text-black">Next</a>
    {% endif %}
    </span>
</div>