{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">
              {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'blog:homepage' %}"><h1>Simple-Blog</h1></a>
    {% block content %}{% endblock %}
</body>
</html>