{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {{ post.title }}
    {{ post.created|date:"d-m-Y H:i" }}
    {{ post.text }}
    {% get_post_avg_rating post as avg_rating %}
    {% if avg_rating %}
        Average rating: {{ avg_rating|floatformat:2 }}
    {% else %}
        No ratings
    {% endif %}

    {% if not messages %}
        Add new comment
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% for comment in comments %}
        Created {{ comment.created|date:"d-m-Y H:i" }} by {{ comment.author }}
        {{ comment.text }}
        Rating: {{ comment.rating }}
    {% empty %}
        There are no comment's yet.
    {% endfor %}
{% endblock %}